
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;700&family=Poppins:ital,wght@0,200;0,600;1,200&display=swap');

/* general*/
/*sticky nav*/

/*probando hover*/
.hover:hover {
    background-color: darkgray;
    border:solid black 2px ;
   

}



p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
h1{
    font-family: 'Alegreya Sans', sans-serif;
   font-weight: bold;
   text-align: center;
   
}
.imgFluid{
    width: 100%;
  
    height: auto;
}
/*Desktop*/
@media (min-width:1024px){
    .hover:hover {
        background-color: darkgray;
        border:solid black 2px ;
    }
    h1{
        font-family: 'Alegreya Sans', sans-serif;
       font-weight: bold;
       text-align: center;
       background-color: white;
       width: 500px;
       
    }
    .p20{
        padding: 20px;
    }
    li{
        list-style: none;
        padding: 5px;
        margin: 5px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;}
        ul{
       
            display: flex;
            flex-direction: row;
            align-content: space-between;
        }
   
    header{
        background-color: lightgray;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    main{
        background-color: darkgray;
        height: 100%;
      
        border-radius: 5px;
        
        padding: 20px;   
    }


    



    /**Grid index**/
    

    .gridMainIndex {
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "video texto";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
     }
     .titulo{grid-area: titulo;}
     .video{grid-area: viedo;}
     .textoIndex{grid-area: texto;}
    /*Grid proyectos**/
    .gridProyectos{display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "headerProyectos"
        "mainProyectos"
        "footerProyectos";
        
        
    }

    .headerProyectos{grid-area: headerProyectos;}
    .mainProyectos {grid-area: mainProyectos;}
    .footerProyectos{grid-area: footerProyectos;}
      /*grid bosque */
    .gridBosque{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
       grid-template-areas: 
       "titBosque titBosque"
       "imgBosque txtBosque";
       grid-gap: 20px;   
       padding: 10px;  
    }
    .titBosque{grid-area: titBosque;}
    .imgBosque{grid-area: imgBosque;}
    .txtBosque{grid-area: txtBosque;}
    .txtBosque{font-size: 20px; display: flex; align-items: center;}
/*grid lago*/
.gridLago{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
   grid-template-areas: 
   "titLago titLago"
   "txtLago imgLago";
   grid-gap: 20px;  
   padding: 10px;   
}
.titLago{grid-area: titLago;}
.imgLago{grid-area: imgLago;}
.txtLago{grid-area: txtLago;}
.txtLago{font-size: 20px; display: flex; align-items: center;}
/*grid montaña*/
.gridMont{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
   grid-template-areas: 
   "titMont titMont"
   "imgMont txtMont";
   grid-gap: 20px;  
   padding: 10px;   
}
.titMont{grid-area: titMont;}
.imgMont{grid-area: imgMont;}
.txtMont{grid-area: txtMont;}
.txtMont{font-size: 20px; display: flex; align-items: center;}
     footer{
        background-color: lightslategray;
        border-radius: 5px;
       
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }
      /*grid Nosotros*/
      .gridNosotros{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
       grid-gap: 20px;
       padding: 20px;
       font-size: 20px;
      }
    
    h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    .textoBlog {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: beige;
       text-align: center;
    }
    
    .inputText, select, textarea { 
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
     
    }
    .submit {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
       
    }
    
     
      .contenedorFormulario {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      .textNosotros {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
      } 
      .titpresu { 
        background-color: #04AA6D;
        width: 200px;
        display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: center;
      
       
    
      }
     

}
@media (max-width:768px){
    li{
        list-style: none;
        padding: 5px;
        margin: 5px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;}
    header{
        background-color: lightgrey;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    main{
        background-color: darkgray;
        height: 100%;
      
        border-radius: 5px;
        
        padding: 20px;
        
      
       
    }
    /*responsive iframe*/
    .containerIframe{ position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;}
        .responsiveIframe{position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;}
    footer{
        background-color: lightslategray;
        border-radius: 5px;
       
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    
        
    
    }
    
    h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    .textoBlog {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
       text-align: center;
    }
    
    .inputText, select, textarea { /* todo esto lo arme y lo vi de w3school por que no podia hacer que el formulario me quedara en bloque, solo con br, y despues me cope */
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
     
    }
    .submit {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
       
    }
    
     
      .contenedorFormulario {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      .textNosotros {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
      } 
      .titpresu { 
        background-color: #04AA6D;
        width: 200px;
        display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: center;}
       /*responsive imgs*/
       .imgFluid{
        width: 100%;
        height: auto;
       }
      }     



